.Button {
  text-transform: uppercase;
  border-radius: 2px;
  height: 53px;
  letter-spacing: 2px;
  padding-left: 45px;
  padding-right: 45px;
  cursor: pointer;
  @extend %transitionButton;
  @include font($size: 1.8rem, $family: $fontMontserrat, $weight: 400);

  &:hover {
    background-color: $colorBackground_hover;
  }
}

.Ico {
  cursor: pointer;
  display: inline-block;
  background-size: contain;
  width: 46px;
  height: 40px;
  &:hover{
    background-color: $colorBackground_hover;
  }
}

.Ico_small{
  width: 15px;
  height: 15px;
}

.IcoPinterest {
  background-image: url("/img/pinterest.svg");
}

.IcoTwitter {
  background-image: url("/img/Twiter.svg");
}
.IcoFacebook {
  background-image: url("/img/Facebook.svg");
}
.IcoTwitter2 {
  background-image: url("/img/Twiter2.svg");
}
