@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Raleway-Regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway-Regular'),
         url('/fonts/Raleway-Regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/Raleway-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Raleway-Bold.eot'); /* IE9 Compat Modes */
    src: local('Raleway Bold'), local('Raleway-Bold'),
         url('/fonts/Raleway-Bold.woff') format('woff'), /* Modern Browsers */
         url('/fonts/Raleway-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  }

@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Merriweather-Regular.eot'); /* IE9 Compat Modes */
    src: local('Merriweather Regular'), local('Merriweather-Regular'),
         url('/fonts/Merriweather-Regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/Merriweather-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Montserrat-Bold.eot'); /* IE9 Compat Modes */
    src: local('Merriweather Bold'), local('Merriweather-Bold'),
         url('/fonts/Montserrat-Bold.woff') format('woff'), /* Modern Browsers */
         url('/fonts/Montserrat-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Montserrat-Regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('/fonts/Montserrat-Regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/Montserrat-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Montserrat-Bold.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('/fonts/Montserrat-Bold.woff') format('woff'), /* Modern Browsers */
         url('/fonts/Montserrat-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  }