$colorBackgroundHeader: #eff0f2;
$colorBackgroundHeaderSpan: #b2f2ee;

$colorBackgroundAbout: #f8fafa;
$colorBackgroundTeam: #f9fbfb;
$colorBackgroundSpeach: #6df6eb;
$colorBackgroundContact: #021623;
$colorBackgroundFooter: #262b2e;
$colorBackgroundFooterButton: #6eeee4;
$colorBackground_hover: #71f6eb;

$colorBorderLogo: #170f1c;

$colorSpanLogo: #12deb5;

$colorTextHeader: #505050;
$colorTextTeam: #272727;

$colorBlack: #000000;
$colorWhite: #ffffff;

$contentWidth: 1440px;
$ipadWidth: 1024px;
$tabletWidth: 768px;
$mobileBigWidth: 414px;
$mobileSmallWidth: 320px;

$fontMontserrat: "Montserrat", "Verdana", sans-serif;
$fontMerriweather: "Merriweather", "Verdana", sans-serif;
$fontRaleway: "Raleway", "Verdana", sans-serif;
