.Works-Banners{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding-bottom: 119px;
}
.Works-Banner{
    padding: 7px 7px 6px;
}

.Works-Heading {
    padding-top: 120px;
    padding-bottom: 108px;
  }